---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-woodpecker-oauth
  namespace: woodpecker
type: Opaque
stringData:
  WOODPECKER_GITEA_CLIENT: CHANGEME_GITEA_OAUTH_CLIENT_ID
  WOODPECKER_GITEA_SECRET: CHANGEME_GITEA_OAUTH_CLIENT_SECRET
